@primary-6: rgb(var(--arcoblue-6));

@success-6: rgb(var(--green-6));

@warning-6: rgb(var(--orange-6));

@danger-6: rgb(var(--red-6));

@link-6: rgb(var(--arcoblue-6));

// 强调/正文标题
@color-text-1: var(--color-neutral-10);

// 次强调/正文标题
@color-text-2: var(--color-neutral-8);

// 次要信息
@color-text-3: var(--color-neutral-6);

// 置灰信息
@color-text-4: var(--color-neutral-4);

// 浅/禁用
@color-fill-1: var(--color-neutral-1);

// 常规/白底悬浮
@color-fill-2: var(--color-neutral-2);

// 深/灰底悬浮
@color-fill-3: var(--color-neutral-3);

// 重/特殊场景
@color-fill-4: var(--color-neutral-4);

// 浅色
@color-border-1: var(--color-neutral-2);

// 一般
@color-border-2: var(--color-neutral-3);

// 深/悬浮
@color-border-3: var(--color-neutral-4);

// 重/按钮描边
@color-border-4: var(--color-neutral-6);
