@import '@wangeditor/editor/dist/css/style.css';

blockquote {
  display: block;
  margin: 10px 0;
  padding: 10px;
  font-size: 100%;
  line-height: 1.5;
  background-color: var(--w-e-textarea-slight-bg-color);
  border-left: 8px solid var(--w-e-textarea-selected-border-color);
}
